@font-face {
    font-family: Shabnam;
    src: url(fonts/Shabnam.woff);
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat.woff);
}

:root {
    --main-color: #777dff;
    --main-color-o: #c6c8ff;
    --gradient: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    --reverse-gradient: linear-gradient(43deg, #FFCC70 0%, #C850C0 46%, #4158D0 100%);
    --dark: #212428;
}

body {
    font-family: Shabnam;
    background-color: #212428;
    color: #fff;
    border: solid;
    border-image: var(--gradient) 1;
    border-width: 4px;
    padding-bottom: 20px;
}

.card {
    -webkit-box-shadow: 0px 0px 22px -5px rgba(255, 255, 255, 1) !important;
    -moz-box-shadow: 0px 0px 22px -5px rgba(255, 255, 255, 1) !important;
    box-shadow: 0px 0px 22px -5px rgba(255, 255, 255, 1) !important;
}

.card {
    background: linear-gradient(#212428, #212428) padding-box,
        linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%) border-box;
    border: 4px solid transparent !important;
    border-radius: 25px;
}

.cdir {
    text-align: center;
}

.cflex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.title {
    margin-bottom: 2rem;
}

.desc {
    color: #c5c5c5 !important;
}

.en-text {
    font-family: Montserrat;
}

.ocolor {
    color: #c6c8ff;
}

.information {
    margin-top: 2rem;
}

.devicon {
    font-size: 50px !important;
}

.icon {
    font-size: 35px;
    margin-inline: 10px;
    color: var(--main-color) !important;
}

.icon:hover {
    text-shadow: 0px 0px 20px #ffffff61 !important;
}

.png-icon {
    width: 50px;
    vertical-align: unset;
}

.png-icon:hover{
        -webkit-filter: drop-shadow(0px 0px 20px #ffffff61) !important;
            filter: drop-shadow(0px 0px 20px #ffffff61) !important;
}

.text-icon {
    margin-inline: 10px;
    color: rgb(86, 206, 6);
}

.btn-icon {
    margin-left: 10px;
}

.btn {
    background-image: var(--gradient) !important;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.btn:hover {
    background-image: var(--reverse-gradient) !important;
    color: #fff !important;
}

.btn-row {
    margin-top: 1rem;
}

hr {
    margin-block: 2rem !important;
}

.card-hr {
    margin-block: 20px !important;
}

.card-image {
    max-width: 100%;
    margin-bottom: 1rem;
}

.carousel-inner {
    margin-bottom: 1rem;
}

.lable {
    background-color: #686868;
    width: auto;
    display: inline-block;
    padding: 5px;
    border-radius: 25px;
    padding-inline: 12px;
    font-size: 15px;
    margin: unset;
}

.area {
    text-align: justify;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--main-color);
}