{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoHoShakeri</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'home/plugins/bootstrap5/css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/plugins/bootstrap-icons/bootstrap-icons.css' %}">
    <!-- main -->
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <!-- programming icons -->
    <link rel="stylesheet" href="{% static 'home/plugins/devicon/devicon.min.css' %}">
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <!-- INFORMATION -->
            <section class="col-12 cdir">
                <div class="card">
                    <div class="card-body">
                        <h1>محمد حسین شاکری</h1>
                        <h4 class="desc">توسعه دهنده تحت وب</h4>
                        <div class="information">
                            <h6 class="en-text cflex ocolor"><i
                                    class="icon bi bi-envelope-at-fill"></i>mohoshakeri@yahoo.com</h6>
                            <div class="social-links">
                                <a href="https://github.com/mohoshakeri" target="_blank"><i class="icon bi bi-github"></i></a>
                                <a href="https://linkedin.com/in/mohoshakeri" target="_blank"><i class="icon bi bi-linkedin"></i></a>
                            </div>
                            <div class="btn-row">
                                <button link="{% static 'home/resume.pdf' %}" target="blank" download="resume.pdf" class="btn link-button"><i class="btn-icon bi bi-file-earmark-pdf-fill"></i>دانلود
                                    رزومه</button>
                            </div>
                            <hr class="card-hr">
                            <h4>مهارت‌ها</h4>
                            <br>
                            <div>
                                <i class="icon devicon devicon-python-plain-wordmark colored"></i>
                                <i class="icon devicon devicon-django-plain-wordmark colored"></i>
                                <!-- <i class="icon devicon devicon-docker-plain-wordmark colored"></i> -->
                                <i class="icon devicon devicon-git-plain colored"></i>
                                <i class="icon devicon devicon-github-original-wordmark colored"></i>
                                <i class="icon devicon devicon-mysql-plain-wordmark colored"></i>
                                <!-- <i class="icon devicon devicon-postgresql-plain-wordmark colored"></i>
                                <i class="icon devicon devicon-mongodb-plain-wordmark colored"></i> -->
                                <i class="icon devicon devicon-html5-plain-wordmark colored"></i>
                                <i class="icon devicon devicon-css3-plain-wordmark colored"></i>
                                <i class="icon devicon devicon-bootstrap-plain-wordmark colored"></i>
                                <i class="icon devicon devicon-javascript-plain colored"></i>
                                <!-- <i class="icon devicon devicon-jquery-plain-wordmark colored"></i> -->
                                <i class="icon devicon devicon-ubuntu-plain-wordmark colored"></i>
                                <i class="icon devicon devicon-vscode-plain-wordmark colored"></i>
                                <i class="icon devicon devicon-trello-plain-wordmark colored"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <!-- JOBS -->
            <!-- Projects -->
            <section class="col-12 cdir">
                <h1 class="title">پروژه‌ها</h1>
                <div class="card">
                    <div class="card-body">
                        <img class="card-image" src="{% static 'home/img/img.png' %}" alt="">
                        <h3 class="en-text">Brain Test</h3>
                        <p class="lable">طول پروژه: 3 ماه</p>
                        <br>
                        <br>
                        <p class="area">سایتی که آزمون روانشناسی IVA2 را برگزار کرده و امکان تعامل میان درمانجو و
                            درمانگر را در پنل اختصاصی خود میدهد. این سایت با قالبی مبتنی بر یک قالب اوپن سورس نوشته شده
                            و در بک‌اند خود از فریمورک جنگو تحت زبان پایتون استفاده میکند.</p>
                        <div class="btn-row">
                            <button class="btn en-text"><i class="btn-icon bi bi-globe-americas"></i>Website</button>
                        </div>
                        <hr class="card-hr">
                        <h4>ویژگی‌های سایت:</h4>
                        <h6 class="cflex area"><i class="text-icon bi bi-arrow-return-left"></i>ssss</h6>
                        <h4>چالش‌ها:</h4>
                        <h6 class="cflex area"><i class="text-icon bi bi-arrow-return-left"></i>ssss</h6>

                    </div>
                </div>
            </section>

        </div>
    </div>
    <!-- Scripts -->
    <script src="{% static 'home/plugins/bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'home/main.js' %}"></script>
</body>

</html>